<h5>Things Stats</h5>
<ul class="nav nav-tabs" id="myTab-2" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="scoreboard-tab" data-toggle="tab" role="tab" aria-controls="scoreboard"
      aria-selected="false" [ngClass]="
        (tab$ | async).selectedTab === 'scoreboard' ? ' show active' : ''
      " (click)="onChangeTab('scoreboard')">Score Board</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="submitted-answers" data-toggle="tab" role="tab" aria-controls="submitted-answers"
      aria-selected="false" [ngClass]="
        (tab$ | async).selectedTab === 'submitted-answers' ? ' show active' : ''
      " (click)="onChangeTab('submitted-answers')">Submitted Answers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="winning-history" data-toggle="tab" role="tab" aria-controls="winning-history-2"
      aria-selected="false" [ngClass]="
        (tab$ | async).selectedTab === 'winning-history' ? ' show active' : ''
      " (click)="onChangeTab('winning-history')">Winning Answers</a>
    <!-- <a class="nav-link" id="winning-history" data-toggle="tab" href="#winning-history" role="tab" aria-controls="winning-history" aria-selected="false">Contact</a> -->
  </li>
</ul>

<div class="tab-content" id="myTabContent-2">
  <!-- Scoreboard Tab -->
  <div class="tab-pane fade" id="scoreboard" role="tabpanel" aria-labelledby="scoreboard-tab" [ngClass]="
      (tab$ | async).selectedTab === 'scoreboard' ? ' show active' : ''
    ">
    <div class="list-container">
      <table>
        <thead>
          <tr>
            <th class="game-status-heading">Current Round</th>
            <th> <span> </span></th>
            <th class="game-status-heading">Current Prompt</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="game-status-item" id="current-round">{{ (round$ | async).roundNum }}</td>
            <td><span>

              </span></td>
            <td class="game-status-item" id="current-prompt">
              {{ (round$ | async).prompt.prompt }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <input type="button" id="new-round" value="Next Round" (click)="newRound()" />
    <br />
    <br />
    <input type="button" value="Start New Game!" (click)="newGame(event)" />
  </div>

  <!-- Submitted Answers Tab -->
  <div class="tab-pane fade" id="submitted-answers" role="tabpanel" aria-labelledby="submitted-answers" [ngClass]="
      (tab$ | async).selectedTab === 'submitted-answers' ? ' show active' : ''
    ">
    <h2 class="list-heading">Rank Responses For... </h2>

    <table>
      <thead>
        <tr>
          <th class="game-status-heading">Round: {{ (round$ | async).roundNum }}</th>

          <th class="game-status-heading"> Prompt: {{ (round$ | async).prompt.prompt }}</th>
        </tr>
      </thead>

      <!-- <tbody>
          <tr>
            <td class="game-status-item" id="current-round"></td>
            <td><span>

              </span></td>
            <td class="game-status-item" id="current-prompt">
              Prompt: {{ (round$ | async).prompt.prompt }}
            </td>
          </tr>
        </tbody> -->
    </table>

    <judge-stuff></judge-stuff>
  </div>
  <!-- Winning Answers Tab -->
  <div class="tab-pane fade" id="winning-history" role="tabpanel" aria-labelledby="winning-history" [ngClass]="
      (tab$ | async).selectedTab === 'winning-history' ? ' show active' : ''
    ">
    <winner-root></winner-root>
  </div>
</div>