<div cdkDropListGroup>
  <div class="list-container">
    <table>
      <thead>
        <tr>
          <th class="list-heading">Beginning Choices</th>
          <th class="list-heading">Middle Choices</th>
          <th class="list-heading">Ending Choices</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div cdkDropList [cdkDropListData]="beginnings" class="choices-list" id="beginning-options"
              (cdkDropListDropped)="drop($event)">
              <div class="choices-list" id="beginning-list-item" *ngFor="let item of beginnings" cdkDrag>
                {{ item }}
              </div>
            </div>
          </td>
          <td>
            <div cdkDropList [cdkDropListData]="middles" class="choices-list" id="middle-options"
              (cdkDropListDropped)="drop($event)">
              <div class="choices-list" id="middle-list-item" *ngFor="let item of middles" cdkDrag>
                {{ item }}
              </div>
            </div>
          </td>
          <td>
            <div cdkDropList [cdkDropListData]="ends" class="choices-list" id="end-options"
              (cdkDropListDropped)="drop($event)">
              <div class="choices-list" id="end-list-item" *ngFor="let item of ends" cdkDrag>
                {{ item }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <br />

    <div class="list-container">
      <h2 class="list-heading">Drag three fragments into this box to formulate a response :</h2>

      <div cdkDropList [cdkDropListData]="response" class="choices-list" id="response-submission"
        (cdkDropListDropped)="drop($event)">
        <div class="choices-list" *ngFor="let item of response" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>

    <form>
      <span class="choices-list" id="player-name">
        <label><strong>Name: </strong> </label>
        <span>{{ " " }}</span>
        <input ngrxField="name" class="ui input" placeholder="Cranjis McBasketball" name="userName"
          [(ngModel)]="userName" />
      </span>

      <span class="choices-list" id="things-response" placeholder="The mustard fell outta the tree" name="userResponse"
        [(ngModel)]="userResponse">
        <label><strong>My Response:</strong></label>
        {{
          (response[0] || " ") +
            " " +
            (response[1] || " ") +
            " " +
            (response[2] || " ")
        }}
      </span>

      <button type="submit" (click)="submissionsTab()">Submit Response!</button>
    </form>
  </div>
</div>