<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Instructions</h1>

</div>


<!-- <h2 class="text-center">Current tab: <span style="color:red">{{ selectedTab }}</span></h2> -->
<strong>The Concept</strong>
<br>
<br>
"The Game of Things" is intended to be a five-person game: there is one judge and four contestants at any given time, with judges rotating amongst the five players
<br>
<br>
<strong>The Process</strong>
<br>
<br>
<strong>[1]</strong> A random prompt is selected upon clicking "Start New Game!", and from then on after "Next Round" is clicked. A full game has 10 rounds.
<br>
<br>
<strong>[2]</strong> Each player receives 6 random beginnings, 6 random actions, and 6 random explanations per round and must come up with a statement using one of each in response to the prompt.
<br>
<br>
<strong>[3]</strong> After all four players have submitted their responses, the judge will have two jobs:
<br>
1. To rank the responses in order from favorite to least favorite
<br>
2. Guess who came up with each answer
<br>
<br>
<strong>[4]</strong> After the judge submits their feedback, it will render to the screen and points will be applied accordingly
<br>
<br>
<strong>[Points System]</strong>
<br>
Correctly guessing the author of an answer: 1pt
<br>
Winning top answer: 5pts
<br>
<br>
<strong>[Tips]</strong>
<br>
If sharing a computer, do not submit forms for Players 1, 2, 3, and 4 in that order; submit them in a random order so the judge doesn't know wrote what prior to guessing
<br>
<br>
<br>